/*********************************************

This is the style file for this project.

**********************************************/
body{
max-width: 1000%;
background-color: black;
height: 100%;
width: 100%;
overflow-x: hidden;
overflow-y: auto;
	}

header{
	background-color: #01001A;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  border: none;
		border-color:black;
        margin: 0;
        z-index: 0;
		overflow-x: hidden;
		overflow-y: hidden;
    width: 100%;
    height: 3.5em;
}

div.main {
	border: none;
		border-color:black;
				margin: 0;
				z-index: 0;
		overflow-x: hidden;
		overflow-y: hidden;
		width: 100%;
		height: 100%;
}

div.gameWindow{
    background-color: white;
	  background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
    border: none;
      border-color:black;
          margin: 0;
          z-index: 0;
        overflow-x: hidden;
      	overflow-y: hidden;
      width: 100%;
    height:90vh;

  }
	div.Player1Window{
	    background-color: blue;
		  background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
	    border: none;
	      border-color:black;
	          margin: 0;
	          z-index: 0;
	        overflow-x: hidden;
	      	overflow-y: hidden;
	      width: 50%;
	    height:90vh;
	  }
		div.Player2Window{
				background-color: red;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border: none;
					border-color:black;
							margin: 0;
							z-index: 0;
						overflow-x: hidden;
						overflow-y: hidden;
					width: 50%;
				height:90vh;
						float: right;
			}
  /* div.bottomBox {
    background-color: Green;
    border: none;
      border-color:black;
          margin: 0;
          z-index: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      width: 100%;
      height: 10em;
  } */
/* img.dude{
   display: block;
  width: auto;
  height: auto;
  margin: 5.5em auto; */
}

img.memeImg {
z-index: 2;
display: run-in;
position:  absolute;
}
